// Variables
@import "_variables";

// Colors
@import "_colors";

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 999999;
  .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.tt-header {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2196f3;
  &__logo-wrap {
    padding: 40px 0;
    text-align: center;
  }
  &__logo {
    display: inline-block;
  }
  &__tabs-wrap {
    background-color: #1788cc;
  }
  &__tabs {
    background-color: #1788cc;
    .indicator {
      background-color: #fff;
    }
  }
  &__tab {
    a {
      transition: all ease .4s;
      &.active {
        background-color: #46a0d5;
      }
    }
  }
  &__head {
    position: relative;
    padding: 20px 10px;
  }
  &__back {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 20px;
  }
  &__event-type {
    text-align: center;
    font-weight: 100;
  }
  &__event-name {
    font-weight: 100;
  }
  &__info-wrap {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  &__info {
    float: left;
    padding: 0 0.75rem;
    font-weight: 100;
  }
  &__location {
    margin-left: 10px;
  }
}

.tt-list {
  &__item {
    display: block;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    transition: all ease .25s;
    &:hover {
      background: #fafafa;
    }
  }
  &__item-heading {
    color: #000;
  }
  &__item-info {
    float: left;
    padding: 0 0.75rem;
  }
  &__item-icon {
    padding-right: 5px;
  }
}

.event {
  &__speaker-heading {
    margin: 40px 0 20px;
    padding: 10px !important;
    i {
      display: inline-block;
      margin-right: 5px;
      font-size: 0.9;
      line-height: 1;
      vertical-align: bottom;
    }
  }
}
