meta(charset='UTF-8')
title ЛИМУД
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Import Material Icons
link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/icon?family=Material+Icons')
// Import Titillium
link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Titillium+Web: 400, 700')
link(rel='stylesheet', type='text/css', href='css/normalize.css')
link(rel='stylesheet', type='text/css', href='css/materialize.css', media='screen,projection')
link(rel='stylesheet', type='text/css', href='css/materialdesignicons.css')
// build:css css/styles.min.css
link(rel='stylesheet', type='text/css', href='css/styles.css')
// endbuild
